.portfolio_header .heading {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

.project>.card>img {
    height: 270px;
    width: 270px;
}

.project>.card {
    text-align: center;
}