.about_header .heading {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

.social_media {
    padding: 10px 0;
}

.skills_heading {
    font-size: 20px;
    font-weight: bold;
}

.custom_progress_bar {
    background-color: #648195 !important;
    transition: width 0.7s ease-in-out !important;
}