.modal_title {
    font-size: 24px;
    font-weight: 700;
}

.project_modal_heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px !important;
}

.project_description_body {
    text-align: justify;
}