@import '../../variables';
@import '../../mixins';
// Utility Classes
.background {
    background: transparent url($home-background-image) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 100vh;
    opacity: 0.83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & * {
        color: $secondary-color !important;
    }
}

// Name Lines
.name_line_1,
.name_line_2,
.name_line_3 {
    font-optical-sizing: auto;
}

.name_line_1 {
    font-size: 22px;
    font-weight: 600;
}

.name_line_2 {
    line-height: 1.2;
    font-weight: 700;
}

.name_line_2 {
    @include responsive-font-size(64px, 42px);
}

.name_line_3 {
    @include responsive-font-size(42px, 30px);
}

.what_i_do {
    display: inline-block;
    border-right: 2px solid $secondary-color;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}