.footer {
    margin-top: 20px;
    height: 250px;
    background-color: #f0f0f0;
    // padding: 20px;
}

.heading {
    margin-top: 10px;
    font-size: 34px;
    font-weight: 700;
}

.sub_heading {
    margin-top: 35px;
}

.social_media {
    margin-top: 5px;
}