.about_header .heading {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

.social_media {
    padding: 10px 0;
}

.skills {
    font-size: 20px;
    font-weight: bold;
}

.custom_progress_bar {
    background-color: #7a94a4 !important;
    transition: width 0.7s ease-in-out !important;
}

// .sub_heading {
//     margin: auto;
//     width: auto !important;
//     font-size: 28px;
//     line-height: 1.2;
//     font-weight: 600;
// }
// .journey_body .heading {
//     font-size: 24px;
//     line-height: 1.5;
// }
// .journey_body .sub_heading {
//     font-size: 18px;
//     line-height: 1.2;
// }
// .journey_sub_section {
//     margin-top: 10px;
// }
// .non_technical {
//     margin-left: 10%;
//     cursor: pointer;
// }
// .technical {
//     margin-right: 10%;
//     cursor: pointer;
// }
// .vertical_divider {
//     width: 1px !important;
//     border-left: 1px solid #000000;
// }
// .divider {
//     padding-left: 50px;
//     padding-right: 50px;
// }
// .horizontal_divider {
//     width: auto;
//     border-top: 1px solid #000000;
//     border: 1px solid;
//     height: 1px;
//     margin: 15px 0 !important;
// }
// .journey {
//     margin: 0px 200px;
// }
// .journey_body {
//     margin: 0 100px;
// }
// .company_logo {
//     height: 25px;
//     margin-right: 5px;
// }