.custom_alert {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
    /* Start off-screen */
}

.custom_alert.show {
    opacity: 1;
    transform: translateX(0);
    /* Slide into view */
}

.custom_alert.hide {
    opacity: 0;
    transform: translateX(100%);
    /* Slide out of view */
}