@mixin responsive-float($default-float, $responsive-float, $breakpoint: 768px) {
    float: $default-float !important;
    @media (max-width: $breakpoint) {
        float: $responsive-float !important;
        padding-bottom: 10px;
    }
}

@mixin responsive-image-container-modal($default-max-height, $responsive-max-height, $breakpoint: 992px) {
    max-height: $default-max-height;
    height: fit-content !important;
    @media (max-width: $breakpoint) {
        max-height: $responsive-max-height;
    }
}

@mixin responsive-header-margin($default-margin, $responsive-margin, $breakpoint: 992px) {
    margin: $default-margin;
    @media (max-width: $breakpoint) {
        margin: $responsive-margin !important;
    }
}

@mixin responsive-font-size($default-font, $responsive-font, $breakpoint: 576px) {
    font-size: $default-font;
    @media (max-width: $breakpoint) {
        font-size: $responsive-font !important;
    }
}