// font styles
$font-family: "Playfair Display",
serif;
$heading-font-size: 10px;
$sub-heading-font-size: 10px;
// images
$home-background-image: './assets/Home_Background.jpg';
// colors
$primary-color: #648195;
$secondary-color: #f3ecdc;
$accent-color: #36454F;
$gray-background: #f0f0f0;
$golden-timeline-highlights: #bdac9a;
$text-color: #000000;
$header-color: rgba(108, 101, 98, 0.664);
// spacing
$spacing-unit: 16px;
// filters
$invert-svg-color-filter: invert(95%) sepia(35%) saturate(757%) hue-rotate(296deg) brightness(113%) contrast(90%);