@import 'variables';
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

* {
    font-family: $font-family;
}

.text-justify {
    text-align: justify;
}

hr {
    margin: 1rem auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.w-fit-content {
    width: fit-content;
}

.custom-card-style {
    transition: transform .2s;
    cursor: pointer;
    border-radius: 16px !important;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.modal-button-icon {
    vertical-align: bottom;
    margin-right: 5px;
    filter: $invert-svg-color-filter;
}

.modal-button {
    background-color: $primary-color !important;
    color: $secondary-color;
}

.modal-image {
    height: auto;
    width: 100%;
    margin: auto;
}

.mb-30px {
    margin-bottom: 30px;
}